* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
}

body {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app {
  position: relative;

  height: 100%;
  max-height: 736px;
  width: 100%;
  max-width: 414px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid black;

  .nav {
    position: absolute;
    top: 0;
    z-index: 100;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;

    border-bottom: 1px solid black;

    .title-burger-container {
      height: 4rem;
      width: 100%;
      padding: 0 1rem;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        font-size: 1.25rem;
        font-weight: bolder;
      }

      .hamburger-btn {
        position: relative;

        height: 40px;
        width: 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        outline: none;
        border: none;
        background-color: transparent;

        transition: all 0.3s ease;

        &.open {
          transform: rotate(270deg);
        }
        .bar {
          position: absolute;

          height: 4px;
          width: 30px;

          background-color: black;

          transition: all 0.3s ease;

          &.top {
            top: 0.5rem;

            &.open {
              top: 18px;
              transform: rotate(45deg);
            }
          }

          &.mid {
            &.open {
              background-color: transparent;
            }
          }

          &.bottom {
            bottom: 0.5rem;

            &.open {
              bottom: 18px;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }
}

.save-btn,
.start-btn,
.reset-btn {
  height: 2rem;
  width: 6rem;
}

.form {
  height: 0;
  width: 100%;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  transition: all 0.3s ease;

  &.open {
    height: 40vh;
  }

  h2 {
    font-size: 1.2rem;
  }

  .form__input-container {
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 0 1rem;

    .input-cell {
      width: 100%;

      display: grid;
      grid-template-columns: 1fr 2fr;
      justify-items: self-start;
      align-items: center;

      padding: 0.25rem;

      label {
        font-size: 0.8rem;
      }

      .focus-input,
      .break-input,
      .rest-input {
        width: 100%;

        font-size: 0.8rem;

        padding-left: 0.15rem;
      }
    }
  }
}

.timer-container {
  position: relative;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 8rem 0;

  transition: all 2.5s ease;

  &.focus {
    background-color: skyblue;
  }

  &.break {
    background-color: khaki;
  }

  &.rest {
    background-color: darkorange;
  }

  &.start {
    background-color: floralwhite;
  }

  .mute-btn {
    height: 2.5rem;
    width: 2.5rem;

    background-color: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;

    font-size: 1.5rem;

    transition: all 0.3s ease;

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.1);
    }
  }

  .current-mode {
    font-size: 1.5rem;
    font-weight: bolder;
  }

  .tomato-grid {
    height: 6rem;
    width: 80%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;

    .tomato-img {
      height: 3rem;
      animation: hovering 5s ease infinite;
    }
  }

  .timer {
    height: 4rem;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.5rem;

    &.paused {
      animation: blink 1.5s ease infinite;
    }
  }

  .btn-container {
    width: 80%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 5rem;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  z-index: 100;

  height: 4rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;

  overflow: hidden;

  transition: all 0.5s ease;

  &.open {
    background-color: white;
    border-top: 1px solid black;
    overflow: visible;
    height: calc(100% - 4rem);
  }

  .info-btn-container {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    .info-btn {
      height: 2rem;
      width: 2rem;

      text-align: center;

      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 50%;
      background-color: transparent;

      font-size: 1.5rem;

      transition: all 0.5s ease;

      &.open {
        transform: rotate(360deg);
      }

      &:hover {
        color: mediumpurple;
      }
    }
  }

  .info-container {
    height: 100%;

    overflow: hidden;
    margin-top: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    font-size: 2.15vh;

    .info-list {
      margin: 0.5rem 0;
      padding: 0.25rem 0 0.25rem 1.5rem;
      list-style: decimal;

      background-color: rgb(240, 240, 240);

      li {
        margin: 0.5rem;
      }
    }
  }
}

@keyframes hovering {
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
